{{!-- <form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form> --}}


<section>
   
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="/signup" method="POST">
          {{#if errorMessage}}
  <div class="alert alert-danger" role="alert">
    
      {{errorMessage}}
    
  </div>
  {{/if}}
         <!-- username input -->
            <div class="form-outline mb-4">
            <label class="form-label" for="username">User Name</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control form-control-lg"
              placeholder="Alice"
              required
            />
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control form-control-lg"
              placeholder="alice@gmail.com"
              required
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control form-control-lg"
              placeholder="password"
              required
            />
          </div>

          <!-- Submit button -->
          <div class="text-center pt-1 mb-5 pb-1">
            <button
              class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
              type="submit"
            >create an Account</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</section>

