<div id="home-container">
  <section class="home-section-img" >
    <img id="home-img" src="images\homepage-img.svg" />
  </section>
  <section id="home-content">
    <div class="sub-content">
      <section>
        <img class ="content-icon"src="images\shield-check.png" />
      </section>
      <section>
        <h3>Quality Products</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu.</p>
      </section>
      
    </div>
    <div class="sub-content">
      <section>
        <img class ="content-icon"src="images\truck.png" />
      </section>
      <section>
        <h3>Fast Shipping</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu.</p>
      </section>
      
    </div>
    <div class="sub-content">
      <section>
        <img class ="content-icon" src="images\emoji-happy.png" />
      </section>
      <section>
        <h3>99.9% Happy Customers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu.</p>
      </section>
      
    </div>
    <a href="/products"><button class="btn btn-primary">Go to products</button></a>
  </section>
</div>
<footer>
    <p>footer</p>
</footer>