body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
h1 {
  color: 15px;
}
.bg-color {
  background-color: #4aabe9;
  padding-top: 2rem;
}
.card-bg-color {
  background-color: #bfe3f5bd;
}
.seperator {
  height: 2%;
  background-color: none;
}
.product {
  margin-bottom: 2rem;
}
.d-flex a {
  text-decoration: none;
}
.auth-btns {
  align-items: center;
}
.products-img {
  height: 25rem;
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s;
}
.products-img:hover {
  transform: scale(1.09);
}
.login-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-div img {
  width: 60%;
}
.order-form {
  margin-top: 3%;
}
.container {
  margin-top: 2rem;
}
.details {
  margin: 0 auto;
}
.btn-center {
  margin-top: 5rem;
}
.detail-bg {
  max-width: 70%;
  padding: 2rem;
  margin: 1rem auto;
  background-color: #4aabe9;
}
.text-color {
  color: #00b7ff;
}
.img-center {
  padding: 1rem;
  margin: 6rem auto;
  transition: transform 1s;
}
.img-center:hover {
  transform: scale(1.12);
}
.section-padding {
  padding: 2rem;
}
.account-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.account-div img {
  width: 40%;
}
.logout-img-padding {
  padding: 0rem 0.5rem;
}
.sub-content {
  display: flex;
  align-items: center;
}
.home-section-img {
  background-color: #33a9f3;
}
.content-icon {
  width: 70%;
}
.text-resize {
  font-size: small;
  line-height: 50%;
}
.conatainer-margin {
  margin-top: 0rem;
}
.header-text {
  font-weight: normal;
}
.card-size {
  margin: 0rem auto;
}
.confirm-bg-color {
  background-color: #4aabe9;
  height: 100%;
  padding-top: 10%;
}
.card-width {
  width: 60%;
}
#product-name {
  text-decoration: none;
  color: #0d6efd;
}
#signup-btn {
  background-color: #7ed8b3;
  color: white;
  margin: 1rem;
}
#nav-logo {
  width: 150px;
}
#logout-img {
  padding: 0.3rem;
}
#sess-padding {
  padding: 1rem 2rem 0rem 2rem;
}
#home-container {
  display: flex;
}
#home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 3rem 0rem 6rem;
}
#home-img {
  width: 48vw;
  height: 80vh;
}
