body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
h1 {
  color: 15px;
}

/*
.product-items{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 3px solid red;
  margin: 1rem;
  width: 22vw;
}
.product-items img {
  width: 100%;
  height: 60%;
  min-height: 50%;
}
#items-div {
  display: flex;
  flex-wrap: wrap;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#login-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sub-div-login {
  text-align: center;
}
#sub-div-login img {
  width: 50%;
  margin: 0rem 1rem;
}
#product-name {
  color: black;
  font-size: larger;
} */
.bg-color{
  background-color: #60bbf3; 
  padding-top: 2rem;
}
.card-bg-color{
  background-color: #bfe3f5bd; 
}
.seperator{
  height:2%;
  background-color: none;
}
.product{
  margin-bottom: 2rem;
}
.d-flex a{
  text-decoration: none;
}
.auth-btns{
  align-items: center;
}
#product-name{
  text-decoration: none;
  color:#0d6efd;
}
.products-img{
  width:18rem;
  height:25rem;
  text-align:center;
  padding:1rem 0rem 1rem 1rem;
  transition: transform .2s;
}
.products-img:hover{
  transform: scale(1.1);
}
#signup-btn{
  background-color: #7ED8B3;
  color:white; 
  margin: 1rem;
  
}
#nav-logo{
  width:150px;

}
#login-div{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#login-div img{
  width: 60%;
}
.order-form {
  margin-top: 7%;
}
.container {
  margin-top: 2rem;
}
.details {
  margin: 0 auto;
}
.btn {
  margin-top: 5rem;
}
