body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

header{
  background-color: #00b7ff49;
  color:white;
}
.product-items{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  align-items: flex-start;
  border: 1px solid red;
  margin: 1rem;
  width: 18vw;
}
.product-items img{
  width:100%

}
#items-div{
  display:flex;
  flex-wrap: wrap;
}
#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#login-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sub-div-login{
  text-align: center;
}