body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
h1 {
  color: 15px;
}

/*
.product-items{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 3px solid red;
  margin: 1rem;
  width: 22vw;
}
.product-items img {
  width: 100%;
  height: 60%;
  min-height: 50%;
}
#items-div {
  display: flex;
  flex-wrap: wrap;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#login-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sub-div-login {
  text-align: center;
}
#sub-div-login img {
  width: 50%;
  margin: 0rem 1rem;
}
#product-name {
  color: black;
  font-size: larger;
} */


.bg-color{
  background-color: #60bbf3; 
  padding-top: 2rem;
}
.card-bg-color{
  background-color: #bfe3f5bd; 
}
.seperator{
    height:2%;
    background-color: none;
}
.product{
  margin-bottom: 2rem;
}
.d-flex a{
  text-decoration: none;
}
.auth-btns{
  align-items: center;
}
#product-name{
  text-decoration: none;
  color:#0d6efd;
}
.products-img{
  height:25rem;
  text-align:center;
  padding:1rem;
  transition: transform .2s;
}
.products-img:hover{
  transform: scale(1.09);
}
#signup-btn{
  background-color: #7ED8B3;
  color:white; 
  margin: 1rem;
}
#nav-logo{
  width:150px;

}
.login-div{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-div img{
  width: 60%;
}
.order-form {
  margin-top: 7%;
}
.container {
  margin-top: 2rem;
}
.details {
  margin: 0 auto;
}
.btn-center {
  margin-top: 5rem;
}
.detail-bg{
  max-width:70%;
  padding:2rem;
  margin:1rem auto;
  background-color: #60bbf3;
}
.text-color{
  color: #00b7ff;
}
.img-center{
  padding: 1rem;
  margin: 6rem auto;
  transition: transform 1s;
}
.img-center:hover{
  transform: scale(1.12);
}
.section-padding{
  padding:2rem;
}
.account-div{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.account-div img{
  width:40%;
}
.logout-img-padding{
  padding:0rem 0.5rem;
}
#logout-img{
  padding:0.3rem;
}
#sess-padding{
  padding:1rem 2rem 0rem 2rem;
}
#home-container{
  display:flex;
}
#home-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 3rem 0rem 6rem;
}
.sub-content{
  display:flex;
  align-items: center;
}
#home-img{
  width:48vw;
  height:80vh;
}
.home-section-img{
  background-color: #33a9f3;
}
.content-icon{
  width:70%;
}
.text-resize{
  font-size: small;
  line-height: 50%;
}
.conatainer-margin{
  margin-top:0rem;
}
.header-text{
  font-weight: normal;
}