<!--<h2>Fill in your details</h2>

<form action="/orders" method="post">
  <input type="text" name="firstName" placeholder="First name" />

  <input type="text" name="lastName" placeholder="Last name" />

  <input type="text" name="address" placeholder="Street" />
  <input type="text" name="city" placeholder="City" />
  <input type="number" name="postalCode" placeholder="Postal code" />

  <button type="submit"> Submit order </button>
</form>
-->

  
<form  action="/orders/{{productId}}" method="post" class="order-form">
  <div class="col-6 container">
    <h4 class="text-secondary" style="margin-bottom: 2%;">Shipping details:</h4>
    <label>First name:</label>
    <input type="text" class="form-control" name="firstName" placeholder="Alice" required>
  </div>
  <div class="col-6 container" >
    <label>Last name:</label>
    <input type="text" class="form-control" name="lastName" placeholder="Alison" required>
  </div>
  <div class="col-6 container">
    <label>Address:</label>
    <input type="text" class="form-control" name="address" placeholder="Street, Number, Apartment..." required>
  </div>
  <div class="col-6 container">
    <label>City:</label>
    <input type="text" class="form-control" name="city" placeholder="City, Town, Village...." required>
  </div>
  <div class="col-6 container">
    <label>Postal code:</label>
    <input class="form-control" type="text" name="postalCode" placeholder="Zip Code" required>
    
  </div>
  </div>
<div class="d-grid gap-2 col-6 col-md-1 mx-auto">
  <button class="btn btn-primary btn-center" type="submit">Place order</button>
  </a>
</div>

</form>


