<h2>Fill in your details</h2>

<form action="/orders" method="post">
  <input type="text" name="firstName" placeholder="First name" />

  <input type="text" name="lastName" placeholder="Last name" />

  <input type="text" name="address" placeholder="Street" />
  <input type="text" name="city" placeholder="City" />
  <input type="number" name="postalCode" placeholder="Postal code" />

  <button type="submit"> Submit order </button>
</form>